manifest {
    homePage = 'https://github.com/UMCUGenetics/NF-Deeplexicon'
    description = 'A pipeline to demultiplex nanopore sequencing data using Deeplexicon'
    mainScript = 'main.nf'
    version = '1.0'
    nextflowVersion = '20.04.1'
}

executor {
    $sge {
      queueSize = 1000
      pollInterval = '30sec'
      queueStatInterval = '5min'
    }
    $slurm {
      queueSize = 1000
      pollInterval = '30sec'
      queueStatInterval = '5min'
    }
}

profiles {
  sge {
    process.executor = 'sge'
    process.queue = 'all.q'
    process.clusterOptions = '-P compgen '
  }

  slurm {
    process.executor = 'slurm'
    process.clusterOptions = '--gres=tmpspace:10G'
    process.queue = 'cpu'
    if ( params.account ){
        process.clusterOptions = "--gres=tmpspace:10G --account=$params.account"
    }

  }
}

report {
  enabled = true
  file = "$params.out_dir/log/nextflow_report.html"
}

trace {
  enabled = true
  file = "$params.out_dir/log/nextflow_trace.txt"
  fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}

timeline {
  enabled = true
  file = "$params.out_dir/log/nextflow_timeline.html"
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '-B /hpc -B $TMPDIR:$TMPDIR'
  cacheDir = '/hpc/local/CentOS7/cog_bioinf/singularity_cache'
}

params {
    nextflowmodules_path = './NextflowModules'
    tsv_chunks_path = "${params.out_dir}/TSV/chunks"

    // Custom settings of tools.
    options.concattsv = ''
}

process {
    errorStrategy = 'retry'
    maxRetries = 1

    withLabel : Deeplexicon_1_2_0_dmux {
          time = '4h'
          penv = 'threaded'
          cpus = 2
          memory = '10G'
    }

    withLabel : Deeplexicon_1_2_0_split {
          time = '2h'
          penv = 'threaded'
          cpus = 2
          memory = '10G'
          publishDir.path = "${params.out_dir}/Fastq/"
          publishDir.mode = 'copy'       
    }

    withLabel : Deeplexicon_1_2_0_concat_tsv {
          time = '2h'
          penv = 'threaded'
          cpus = 2
          memory = '8G'
          publishDir.path = "${params.out_dir}/TSV/"
          publishDir.mode = 'copy'       
    }
}

cleanup = true